@use "../variables" as v;

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	background-color: v.clrl("dark", 15%);
	padding-block: 0.4rem;
	padding-inline: 5rem;
	position: relative;
	color: v.clr("light");

	@include v.mq-max("medium") {
		padding-inline: 2rem;
	}

	a {
		text-decoration: none;
		font-weight: 600;
		font-size: 1.05rem;
		color: inherit;
		transition: color 0.2s ease;

		&:hover {
			color: v.clrd("light", 5%);
		}
	}
}

.logo {
	display: block;
	width: 5rem;
	aspect-ratio: 1;

	@include v.mq-max("medium") {
		margin-inline-end: auto;
	}
}

.menu {
	display: flex;
	gap: 1rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 999;

	@include v.mq-max("medium") {
		background-color: inherit;
		position: absolute;
		inset-block-start: calc(100% - 1px);
		inset-inline: 0;
		flex-direction: column;
		gap: 0;
		overflow-y: hidden;
		max-height: 0;
		transition: max-height 0.2s ease;

		li:first-child {
			padding-block-start: 0.5rem;
		}

		li:last-child {
			padding-block-end: 0.5rem;
		}

		a {
			display: block;
			padding: 0.5rem 2rem;
		}
	}
}

.menu-toggler {
	display: none;
	align-self: center;
	place-content: center;
	aspect-ratio: 1;
	appearance: none;
	color: inherit;
	background: none;
	border: none;
	padding-block: 0;
	padding-inline: 0.4em;
	cursor: pointer;

	@include v.mq-max("medium") {
		display: grid;
	}

	.hamburger {
		--color: currentColor;
		position: relative;
		display: block;
		width: 1.5rem;
		aspect-ratio: 12 / 1;
		background-color: var(--color);
		transition: background-color 0.2s ease;

		&::before,
		&::after {
			--i: 1;
			content: "";
			position: absolute;
			inset: 0;
			background-color: var(--color);
			transform: translateY(calc(300% * var(--i)));
			transition: transform 0.2s ease;
		}

		&::before {
			--i: -1;
		}

		&.open {
			background-color: transparent;

			&::before,
			&::after {
				transform: rotate(calc(-45deg * var(--i)));
			}
		}
	}
}

.buttons {
	display: flex;
	gap: 1rem;
}

.buttons a {
	display: grid;
	place-items: center;
	border-radius: 50%;
	font-size: 1.3rem;
	width: 2.3em;
	aspect-ratio: 1;
	transition: background-color 0.2s ease;

	&:nth-of-type(1) {
		background-color: v.clrl("dark", 30%);

		&:hover {
			background-color: v.clrl("dark", 25%);
		}
	}

	&:nth-of-type(2) {
		position: relative;
		background-color: v.clr("primary");

		&:hover {
			background-color: v.clrd("primary", 5%);
		}

		span {
			line-height: 1;
			display: grid;
			place-content: center;
			font-size: 0.9rem;
			position: absolute;
			inset-block-end: -0.4em;
			inset-inline-end: -0.4em;
			background-color: inherit;
			border: 3px solid v.clrl("dark", 15%);
			border-radius: 100vmax;
			padding-inline: 0.25em;
			height: 1.6em;
			min-width: 1.6em;
		}
	}
}
