@use "./variables.scss" as v;

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3rem;
	padding-block: 3rem;
	padding-inline: 1.5rem;

	h1 {
		margin: 0;
		font-weight: 600;
		font-size: 2rem;
	}
}

.grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, 260px);
	justify-content: center;
	gap: 1.5rem;
}

.show-all {
	text-decoration: none;
	padding: 0.5rem 1.3rem;
	border-radius: 5px;
	color: v.clr("light");
	background-color: v.clr("primary");
	transition: background-color 0.2s ease;

	&:hover {
		background-color: v.clrd("primary", 5%);
	}
}
