@use "variables" as v;

body {
	margin: 0;
	color-scheme: light dark;
}

body > div {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: v.clrd("light", 3%);

	@media (prefers-color-scheme: dark) {
		color: white;
		background-color: v.clrl("dark", 10%);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	line-height: 1.5;
}
