@use "variables" as v;

body {
	margin: 0;
	scroll-behavior: smooth;
}

body > div {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: v.clrd("light", 3%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	line-height: 1.5;
}
